@model MVCSample29Dec.ViewModel.EmpDept
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetEmployeeDetails</title>
</head>
<body>
    <div> 

        FirstName:@Model.FirstName

        <br /><br />

        DepartmentName:@Model.DepartmentName
    </div>
</body>
</html>
